In [ ]:
import pandas as pd
import requests

# Welcome to data exploration with Python and Jupyter!

## Here&rsquo;s what to expect:

### Morning

1. [Overview of Jupyter Notebooks](#1.-Overview-of-Jupyter)
2. [Overview of Python syntax with calculation](#2.-Overview-of-Python-syntax)
3. [Refactoring our calculation using Python data structures](#3.-Overview-of-Python-data-structures)

### After First Break

4. [Introducing pandas and cleaning text data](#4.-Introducing-pandas-and-text-cleaning)
5. [Exploration: movie quotes](#5.-Exploration:-movie-quotes)
6. [Introduction to city population data](#6.-Introduction-to-city-population-data)

### Afternoon/After Lunch

7. [City population data prep](#7.-City-population-data-prep)

### After Second Break

8. [Exploration: city population data](#8.-Exploration:-city-population-data)

### Generally:

# <center>CAT GIFS</center>

![yay](https://78.media.tumblr.com/42a41bd1ace113eb410b0005192c2275/tumblr_p8xzms08OS1qhy6c9o1_500.gif)

# 1. Overview of Jupyter

In [2]:
%pwd

'/Users/melissa/Documents/data-exploration-workshop/completed_notebooks'

In [22]:
%quickref

In [ ]:
%who int

# 2. Overview of Python syntax

## How much money does making coffee at home save?

Simple calculation

In [5]:
# multiply coffee and tip to get cost

2 * 1.2

2.4

In [6]:
# name variables

latte = 4
drip_coffee = 2
tip = .2

How do the coffee and tip variables differ?

In [25]:
# Check `type`

print(type(latte))
print(type(tip))

<class 'int'>
<class 'float'>

# 3. Overview of Python data structures

These include lists, dictionaries, tuples and sets. However, we only need to use the first two today.

#### Create a `list` of coffee preparations that you might order.

In [26]:
coffee_preps = ['latte', 'espresso', 'drip_coffee']

#### Use a `dict` to allow comparison of multiple coffee types

In [9]:
price_lookup = {'latte': 5, 'espresso': 3, 'drip_coffee': 2}

In [10]:
price_lookup['latte']

5

How do we figure out the amount of money saved per coffee made at home? For simplicity, let's just do this calculation with drip coffee.

Related figures:

- 1 oz. = 28.3495 grams
- A cup of French press coffee uses about 15 grams of coffee grounds

#### Assign the appropriate values to these variables

In [11]:
gram = 1
ounce = gram * 28.3495
serving = gram * 15
dollars_per_ounce = 0.75

#### Construct a calculation for comparing these:

In [32]:
home_coffee = (serving/ounce) * dollars_per_ounce

In [33]:
home_coffee

0.3968323956330799

In [34]:
drip_coffee/home_coffee

5.0399111111111115

# First Break

![kites](https://78.media.tumblr.com/2c05bccd7e1c9353966e4095dc5caf1b/tumblr_ootmmjLVYj1qhy6c9o1_500.gif)

# 4. Introducing pandas and text cleaning

In [12]:
quotes = pd.read_html('https://en.wikipedia.org/wiki/AFI%27s_100_Years...100_Movie_Quotes', header = 0)

What did we get back?

In [13]:
# Check type
type(quotes)

list

Given the data type, how do we check for the information we want?

In [14]:
quotes[2]

,Rank,Quotation,Character,Actor/Actress,Film,Year
0,1,"""Frankly, my dear, I don't give a damn..""",Rhett Butler,Clark Gable,Gone with the Wind,1939
1,2,"""I'm gonna make him an offer he can't refuse.""",Vito Corleone,Marlon Brando,The Godfather,1972
2,3,"""You don't understand! I coulda had class. I c...",Terry Malloy,Marlon Brando,On the Waterfront,1954
3,4,"""Toto, I've a feeling we're not in Kansas anym...",Dorothy Gale,Judy Garland,The Wizard of Oz,1939
4,5,"""Here's looking at you, kid.""",Rick Blaine,Humphrey Bogart,Casablanca,1942
5,6,"""Go ahead, make my day.""",Harry Callahan,Clint Eastwood,Sudden Impact,1983
6,7,"""All right, Mr. DeMille, I'm ready for my clos...",Norma Desmond,Gloria Swanson,Sunset Boulevard,1950
7,8,"""May the Force be with you.""",Han Solo,Harrison Ford,Star Wars,1977
8,9,"""Fasten your seatbelts. It's going to be a bum...",Margo Channing,Bette Davis,All About Eve,1950
9,10,"""You talkin' to me?""",Travis Bickle,Robert De Niro,Taxi Driver,1976
10,11,"""What we've got here is failure to communicate...",Captain,Strother Martin,Cool Hand Luke,1967
11,12,"""I love the smell of napalm in the morning.""",Lt. Col. Bill Kilgore,Robert Duvall,Apocalypse Now,1979
12,13,"""Love means never having to say you're sorry.""",Oliver Barrett IV,Ryan O'Neal,Love Story,1970
13,14,"""The stuff that dreams are made of.""[8]",Sam Spade,Humphrey Bogart,The Maltese Falcon,1941
14,15,"""E.T. phone home.""",E.T.,Pat Welsh,E.T. the Extra-Terrestrial,1982
15,16,"""They call me Mister Tibbs!""",Virgil Tibbs,Sidney Poitier,In the Heat of the Night,1967
16,17,"""Rosebud.""",Charles Foster Kane,Orson Welles,Citizen Kane,1941
17,18,"""Made it, Ma! Top of the world!""","Arthur ""Cody"" Jarrett",James Cagney,White Heat,1949
18,19,"""I'm as mad as hell, and I'm not going to take...",Howard Beale,Peter Finch,Network,1976
19,20,"""Louis, I think this is the beginning of a bea...",Rick Blaine,Humphrey Bogart,Casablanca,1942
20,21,"""A census taker once tried to test me. I ate h...",Dr. Hannibal Lecter,Anthony Hopkins,The Silence of the Lambs,1991
21,22,"""Bond. James Bond.""",James Bond,Sean Connery[9],Dr. No[10],1962
22,23,"""There's no place like home.""[11]",Dorothy Gale,Judy Garland,The Wizard of Oz,1939
23,24,"""I am big! It's the pictures that got small.""",Norma Desmond,Gloria Swanson,Sunset Boulevard,1950
24,25,"""Show me the money!""",Rod Tidwell,Cuba Gooding Jr.,Jerry Maguire,1996
25,26,"""Why don't you come up sometime and see me?""[12]",Lady Lou,Mae West,She Done Him Wrong,1933
26,27,"""I'm walking here! I'm walking here!""[13]","""Ratso"" Rizzo",Dustin Hoffman,Midnight Cowboy,1969
27,28,"""Play it, Sam. Play 'As Time Goes By.'""[14]",Ilsa Lund,Ingrid Bergman,Casablanca,1942
28,29,"""You can't handle the truth!""",Col. Nathan R. Jessup,Jack Nicholson,A Few Good Men,1992
29,30,"""I want to be alone.""",Grusinskaya,Greta Garbo,Grand Hotel,1932
...,...,...,...,...,...,...
70,71,"""Wait a minute, wait a minute. You ain't heard...",Jakie Rabinowitz/Jack Robin,Al Jolson,The Jazz Singer,1927
71,72,"""No wire hangers, ever!""[30]",Joan Crawford,Faye Dunaway,Mommie Dearest,1981
72,73,"""Mother of mercy, is this the end of Rico?""","Cesare Enrico ""Rico"" Bandello",Edward G. Robinson,Little Caesar,1931
73,74,"""Forget it, Jake, it's Chinatown.""[31]",Lawrence Walsh,Joe Mantell,Chinatown,1974
74,75,"""I have always depended on the kindness of str...",Blanche DuBois,Vivien Leigh,A Streetcar Named Desire,1951
75,76,"""Hasta la vista, baby.""",The Terminator,Arnold Schwarzenegger,Terminator 2: Judgment Day,1991
76,77,"""Soylent Green is people!""",Det. Robert Thorn,Charlton Heston,Soylent Green,1973
77,78,"""Open the pod bay doors, HAL.""",Dave Bowman,Keir Dullea,2001: A Space Odyssey,1968
78,79,"Striker: ""Surely you can't be serious.""Rumack:...",Ted Striker and Dr. Rumack,Robert Hays and Leslie Nielsen,Airplane!,1980
79,80,"""Yo, Adrian!""",Rocky Balboa,Sylvester Stallone,Rocky,1976
80,81,"""Hello, gorgeous.""",Fanny Brice,Barbra Streisand,Funny Girl,1968
81,82,"""Toga! Toga!""","John ""Bluto"" Blutarsky",John Belushi,National Lampoon's Animal House,1978
82,83,"""Listen to them. Children of the night. What m...",Count Dracula,Bela Lugosi,Dracula,1931
83,84,"""Oh, no, it wasn't the airplanes. It was Beaut...",Carl Denham,Robert Armstrong,King Kong,1933
84,85,"""My precious.""",Gollum,Andy Serkis,The Lord of the Rings: The Two Towers,2002
85,86,"""Attica! Attica!""",Sonny Wortzik,Al Pacino,Dog Day Afternoon,1975
86,87,"""Sawyer, you're going out a youngster, but you...",Julian Marsh,Warner Baxter,42nd Street,1933
87,88,"""Listen to me, mister. You're my knight in shi...",Ethel Thayer,Katharine Hepburn,On Golden Pond,1981
88,89,"""Tell 'em to go out there with all they got an...",Knute Rockne[33],Pat O'Brien,"Knute Rockne, All American",1940
89,90,"""A martini. Shaken, not stirred.""[34]",James Bond,Sean Connery[9],Goldfinger[35],1964
90,91,"""Who's on first?""[36]",Dexter,Bud Abbott,The Naughty Nineties,1945
91,92,"""Cinderella story. Outta nowhere. A former gre...",Carl Spackler,Bill Murray,Caddyshack,1980
92,93,"""Life is a banquet, and most poor suckers are ...",Mame Dennis,Rosalind Russell,Auntie Mame,1958
93,94,"""I feel the need—the need for speed!""","Lt. Pete ""Maverick"" Mitchell and Lt.jg Nick ""G...",Tom Cruise and Anthony Edwards,Top Gun,1986
94,95,"""Carpe diem. Seize the day, boys. Make your li...",John Keating,Robin Williams,Dead Poets Society,1989
95,96,"""Snap out of it!""",Loretta Castorini,Cher,Moonstruck,1987
96,97,"""My mother thanks you. My father thanks you. M...",George M. Cohan,James Cagney,Yankee Doodle Dandy,1942
97,98,"""Nobody puts Baby in a corner.""",Johnny Castle,Patrick Swayze,Dirty Dancing,1987
98,99,"""I'll get you, my pretty, and your little dog ...",Wicked Witch of the West,Margaret Hamilton,The Wizard of Oz,1939
99,100,"""I'm the King of the World!"" [38]",Jack Dawson,Leonardo DiCaprio,Titanic,1997

In [15]:
df = quotes[2]

How do we know our data is as expected?

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
Rank             100 non-null int64
Quotation        100 non-null object
Character        100 non-null object
Actor/Actress    100 non-null object
Film             100 non-null object
Year             100 non-null int64
dtypes: int64(2), object(4)
memory usage: 4.8+ KB

In [17]:
df.head()

,Rank,Quotation,Character,Actor/Actress,Film,Year
0,1,"""Frankly, my dear, I don't give a damn..""",Rhett Butler,Clark Gable,Gone with the Wind,1939
1,2,"""I'm gonna make him an offer he can't refuse.""",Vito Corleone,Marlon Brando,The Godfather,1972
2,3,"""You don't understand! I coulda had class. I c...",Terry Malloy,Marlon Brando,On the Waterfront,1954
3,4,"""Toto, I've a feeling we're not in Kansas anym...",Dorothy Gale,Judy Garland,The Wizard of Oz,1939
4,5,"""Here's looking at you, kid.""",Rick Blaine,Humphrey Bogart,Casablanca,1942

# 5. Exploration: movie quotes

How often does Brando appear?

In [18]:
df.loc[df['Actor/Actress'].str.contains("Brando")]

,Rank,Quotation,Character,Actor/Actress,Film,Year
1,2,"""I'm gonna make him an offer he can't refuse.""",Vito Corleone,Marlon Brando,The Godfather,1972
2,3,"""You don't understand! I coulda had class. I c...",Terry Malloy,Marlon Brando,On the Waterfront,1954
44,45,"""Stella! Hey, Stella!""",Stanley Kowalski,Marlon Brando,A Streetcar Named Desire,1951
46,47,"""Shane. Shane. Come back!""",Joey Starrett,Brandon De Wilde,Shane,1953

What year had the greatest number of awards?

In [19]:
# Hint: Start with df.groupby() and use shift + tab to look at its parameters

# df.groupby('Year').count().sort_values(by='Film', ascending=False)

grouped = df.groupby('Year')

In [20]:
grouped

What is the GroupBy object?

You can read more in its documentation [here](http://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby-object-attributes).

But you can also explore!

In [21]:
# Use tab to explore the `grouped` object

grouped.

SyntaxError: invalid syntax (<ipython-input-21-1930e7d85537>, line 3)

What does it look like to find number of films per year?

In [ ]:
grouped.count()

This is a start, but how do we sort what we've found?

In [ ]:
grouped_by_count = grouped.count()

Find your method:

In [ ]:
grouped_by_count.sort_values(by='Film')

This is useful! But it'd be more useful if it were sorted in descending order.

How do we figure out whether this is an option for the `sort_values` function?

In [ ]:
grouped_by_count.sort_values(by='Film', )

# 6. Introduction to city population data

In [45]:
page = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population', header=0)

How do we find the data we're looking for?

In [46]:
city_df = page[4]

In [47]:
city_df.head()

,2017rank,City,State[5],2017estimate,2010Census,Change,2016 land area,2016 population density,Location,Unnamed: 9,Unnamed: 10
0,1,New York[6],New York,8622698,8175133,+5.47%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W
1,2,Los Angeles,California,3999759,3792621,+5.46%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°W
2,3,Chicago,Illinois,2716450,2695598,+0.77%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W
3,4,Houston[7],Texas,2312717,2100263,+10.12%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W
4,5,Phoenix,Arizona,1626078,1445632,+12.48%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°W

Before we write any code here, let's talk about what this data can tell us -- and what it cannot.

# Lunch

![lunch](https://78.media.tumblr.com/548cfa1622853c30207245c3214df098/tumblr_oq7r3quYsh1qhy6c9o1_500.gif)

# 7. City population data prep

Let's reacquaint ourselves with the data.

In [48]:
city_df.head()

,2017rank,City,State[5],2017estimate,2010Census,Change,2016 land area,2016 population density,Location,Unnamed: 9,Unnamed: 10
0,1,New York[6],New York,8622698,8175133,+5.47%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W
1,2,Los Angeles,California,3999759,3792621,+5.46%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°W
2,3,Chicago,Illinois,2716450,2695598,+0.77%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W
3,4,Houston[7],Texas,2312717,2100263,+10.12%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W
4,5,Phoenix,Arizona,1626078,1445632,+12.48%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°W

These columns headers aren't as useful as they could be. How do we fix that?

In [37]:
city_df.rename?

#### We need a dictionary. How did we make one before?

In [38]:
useful_dict = {'foo': 5, 'bar': 'baz'}

This would take a lot of typing! Instead, you can make one by combining two lists.

#### What lists do you need?

In [49]:
current_columns = list(city_df.columns)

In [52]:
current_columns

['2017rank',
 'City',
 'State[5]',
 '2017estimate',
 '2010Census',
 'Change',
 '2016 land area',
 '2016 population density',
 'Location',
 'Unnamed: 9',
 'Unnamed: 10']

In [53]:
new_columns = ['2017rank',
               'City',
               'State',
               '2017estimate',
               '2010Census',
               'Change',
               '2016 land area (miles)',
               '2016 land area (km)',
               '2016 population density (miles)',
               '2016 population density (km)',
               'Location']

In [54]:
column_dict = dict(zip(current_columns, new_columns))

In [58]:
city_df.rename(columns=column_dict, inplace=True)

In [59]:
city_df.head()

,2017rank,City,State,2017estimate,2010Census,Change,2016 land area (miles),2016 land area (km),2016 population density (miles),2016 population density (km),2016 population density (miles)
0,1,New York[6],New York,8622698,8175133,+5.47%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W
1,2,Los Angeles,California,3999759,3792621,+5.46%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°W
2,3,Chicago,Illinois,2716450,2695598,+0.77%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W
3,4,Houston[7],Texas,2312717,2100263,+10.12%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W
4,5,Phoenix,Arizona,1626078,1445632,+12.48%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°W

# Break!

![break2](https://78.media.tumblr.com/ff9287842f26cd9993b8151736992244/tumblr_osj6r9gFH21qhy6c9o1_500.gif)

In [57]:
city_df.head()

,2017rank,City,State,2017estimate,2010Census,Change,2016 land area (miles),2016 land area (km),2016 population density (miles),2016 population density (km),Location
0,1,New York[6],New York,8622698,8175133,+5.47%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W
1,2,Los Angeles,California,3999759,3792621,+5.46%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°W
2,3,Chicago,Illinois,2716450,2695598,+0.77%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W
3,4,Houston[7],Texas,2312717,2100263,+10.12%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W
4,5,Phoenix,Arizona,1626078,1445632,+12.48%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°W

# 8. Exploration: city population data

We'll figure out what questions we want to ask in the workshop, and we may not go in this direction. But here's a question you can pursue:

### What was the percent change in population *density* for each city between 2010 and 2016?

Optional: Remove footnote markup from city names

In [60]:
city_df['City'] = city_df['City'].str.replace("\[\d+\]", "", regex=True)

Optional: Drop columns you don't plan to use

In [66]:
# city_df.drop(['2017rank','2017estimate'], axis=1)
city_df

,2017rank,City,State,2017estimate,2010Census,Change,2016 land area (miles),2016 land area (km),2016 population density (miles),2016 population density (km),2016 population density (miles)
0,1,New York,New York,8622698,8175133,+5.47%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W
1,2,Los Angeles,California,3999759,3792621,+5.46%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°W
2,3,Chicago,Illinois,2716450,2695598,+0.77%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W
3,4,Houston,Texas,2312717,2100263,+10.12%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W
4,5,Phoenix,Arizona,1626078,1445632,+12.48%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°W
5,6,Philadelphia,Pennsylvania,1580863,1526006,+3.59%,134.2 sq mi,347.6 km2,"11,683/sq mi","4,511/km2",40°00′34″N 75°08′00″W﻿ / ﻿40.0094°N 75.1333°W
6,7,San Antonio,Texas,1511946,1327407,+13.90%,461.0 sq mi,"1,194.0 km2","3,238/sq mi","1,250/km2",29°28′21″N 98°31′30″W﻿ / ﻿29.4724°N 98.5251°W
7,8,San Diego,California,1419516,1307402,+8.58%,325.2 sq mi,842.3 km2,"4,325/sq mi","1,670/km2",32°48′55″N 117°08′06″W﻿ / ﻿32.8153°N 117.1350°W
8,9,Dallas,Texas,1341075,1197816,+11.96%,340.9 sq mi,882.9 km2,"3,866/sq mi","1,493/km2",32°47′36″N 96°45′59″W﻿ / ﻿32.7933°N 96.7665°W
9,10,San Jose,California,1035317,945942,+9.45%,177.5 sq mi,459.7 km2,"5,777/sq mi","2,231/km2",37°17′48″N 121°49′08″W﻿ / ﻿37.2967°N 121.8189°W
10,11,Austin,Texas,950715,790390,+20.28%,312.7 sq mi,809.9 km2,"3,031/sq mi","1,170/km2",30°18′14″N 97°45′16″W﻿ / ﻿30.3039°N 97.7544°W
11,12,Jacksonville,Florida,892062,821784,+8.55%,747.4 sq mi,"1,935.8 km2","1,178/sq mi",455/km2,30°20′13″N 81°39′42″W﻿ / ﻿30.3369°N 81.6616°W
12,13,San Francisco,California,884363,805235,+9.83%,46.9 sq mi,121.5 km2,"18,569/sq mi","7,170/km2",37°43′38″N 123°01′56″W﻿ / ﻿37.7272°N 123.0322°W
13,14,Columbus,Ohio,879170,787033,+11.71%,218.5 sq mi,565.9 km2,"3,936/sq mi","1,520/km2",39°59′07″N 82°59′05″W﻿ / ﻿39.9852°N 82.9848°W
14,15,Fort Worth,Texas,874168,741206,+17.94%,342.9 sq mi,888.1 km2,"2,491/sq mi",962/km2,32°46′53″N 97°20′48″W﻿ / ﻿32.7815°N 97.3467°W
15,16,Indianapolis,Indiana,863002,820445,+5.19%,361.5 sq mi,936.3 km2,"2,366/sq mi",914/km2,39°46′36″N 86°08′45″W﻿ / ﻿39.7767°N 86.1459°W
16,17,Charlotte,North Carolina,859035,731424,+17.45%,305.4 sq mi,791.0 km2,"2,757/sq mi","1,064/km2",35°12′28″N 80°49′52″W﻿ / ﻿35.2078°N 80.8310°W
17,18,Seattle,Washington,724745,608660,+19.07%,83.8 sq mi,217.0 km2,"8,405/sq mi","3,245/km2",47°37′14″N 122°21′03″W﻿ / ﻿47.6205°N 122.3509°W
18,19,Denver,Colorado,704621,600158,+17.41%,153.3 sq mi,397.0 km2,"4,521/sq mi","1,746/km2",39°45′43″N 104°52′52″W﻿ / ﻿39.7619°N 104.8811°W
19,20,Washington,District of Columbia,693972,601723,+15.33%,61.1 sq mi,158.2 km2,"11,148/sq mi","4,304/km2",38°54′15″N 77°01′02″W﻿ / ﻿38.9041°N 77.0172°W
20,21,Boston,Massachusetts,685094,617594,+10.93%,48.3 sq mi,125.1 km2,"13,938/sq mi","5,381/km2",42°19′55″N 71°01′13″W﻿ / ﻿42.3320°N 71.0202°W
21,22,El Paso,Texas,683577,649121,+5.31%,256.8 sq mi,665.1 km2,"2,660/sq mi","1,030/km2",31°50′54″N 106°25′37″W﻿ / ﻿31.8484°N 106.4270°W
22,23,Detroit,Michigan,673104,713777,−5.70%,138.8 sq mi,359.5 km2,"4,847/sq mi","1,871/km2",42°22′59″N 83°06′08″W﻿ / ﻿42.3830°N 83.1022°W
23,24,Nashville,Tennessee,667560,601222,+11.03%,475.9 sq mi,"1,232.6 km2","1,388/sq mi",536/km2,36°10′18″N 86°47′06″W﻿ / ﻿36.1718°N 86.7850°W
24,25,Memphis,Tennessee,652236,646889,+0.83%,317.4 sq mi,822.1 km2,"2,056/sq mi",794/km2,35°06′10″N 89°58′39″W﻿ / ﻿35.1028°N 89.9774°W
25,26,Portland,Oregon,647805,583776,+10.97%,133.5 sq mi,345.8 km2,"4,793/sq mi","1,851/km2",45°32′13″N 122°39′00″W﻿ / ﻿45.5370°N 122.6500°W
26,27,Oklahoma City,Oklahoma,643648,579999,+10.97%,606.3 sq mi,"1,570.3 km2","1,053/sq mi",407/km2,35°28′02″N 97°30′49″W﻿ / ﻿35.4671°N 97.5137°W
27,28,Las Vegas,Nevada,641676,583756,+9.92%,134.4 sq mi,348.1 km2,"4,709/sq mi","1,818/km2",36°13′45″N 115°15′36″W﻿ / ﻿36.2292°N 115.2601°W
28,29,Louisville,Kentucky,621349,597337,+4.02%,263.5 sq mi,682.5 km2,"2,339/sq mi",903/km2,38°09′55″N 85°38′51″W﻿ / ﻿38.1654°N 85.6474°W
29,30,Baltimore,Maryland,611648,620961,−1.50%,80.9 sq mi,209.5 km2,"7,598/sq mi","2,934/km2",39°18′00″N 76°36′38″W﻿ / ﻿39.3000°N 76.6105°W
...,...,...,...,...,...,...,...,...,...,...,...
281,282,Santa Maria,California,107014,99553,+7.49%,22.8 sq mi,59.1 km2,"4,662/sq mi","1,800/km2",34°56′00″N 120°26′38″W﻿ / ﻿34.9332°N 120.4438°W
282,283,Hillsboro,Oregon,106894,91611,+16.68%,25.0 sq mi,64.7 km2,"4,207/sq mi","1,624/km2",45°31′41″N 122°56′09″W﻿ / ﻿45.5280°N 122.9357°W
283,284,Sandy Springs,Georgia,106739,93853,+13.73%,37.7 sq mi,97.6 km2,"2,804/sq mi","1,083/km2",33°55′53″N 84°22′07″W﻿ / ﻿33.9315°N 84.3687°W
284,285,Norwalk,California,106084,105549,+0.51%,9.7 sq mi,25.1 km2,"10,946/sq mi","4,226/km2",33°54′27″N 118°05′01″W﻿ / ﻿33.9076°N 118.0835°W
285,286,Jurupa Valley,California,106028,0,[31],42.9 sq mi,111.1 km2,"2,414/sq mi",932/km2,34°00′09″N 117°28′03″W﻿ / ﻿34.0026°N 117.4676°W
286,287,Lewisville,Texas,106021,95290,+11.26%,36.7 sq mi,95.1 km2,"2,852/sq mi","1,101/km2",33°02′48″N 96°58′54″W﻿ / ﻿33.0466°N 96.9818°W
287,288,Greeley,Colorado,105448,92889,+13.52%,47.8 sq mi,123.8 km2,"2,176/sq mi",840/km2,40°24′55″N 104°46′11″W﻿ / ﻿40.4153°N 104.7697°W
288,289,Davie,Florida,105149,91992,+14.30%,34.9 sq mi,90.4 km2,"2,919/sq mi","1,127/km2",26°04′45″N 80°17′06″W﻿ / ﻿26.0791°N 80.2850°W
289,290,Green Bay,Wisconsin,105116,104057,+1.02%,45.4 sq mi,117.6 km2,"2,316/sq mi",894/km2,44°31′15″N 87°59′03″W﻿ / ﻿44.5207°N 87.9842°W
290,291,Tyler,Texas,104991,96900,+8.35%,56.6 sq mi,146.6 km2,"1,852/sq mi",715/km2,32°19′02″N 95°18′21″W﻿ / ﻿32.3173°N 95.3059°W
291,292,League City,Texas,104903,83560,+25.54%,51.2 sq mi,132.6 km2,"1,992/sq mi",769/km2,29°29′24″N 95°06′33″W﻿ / ﻿29.4901°N 95.1091°W
292,293,Burbank,California,104834,103340,+1.45%,17.4 sq mi,45.1 km2,"6,003/sq mi","2,318/km2",34°11′24″N 118°19′35″W﻿ / ﻿34.1901°N 118.3264°W
293,294,San Mateo,California,104748,97207,+7.76%,12.1 sq mi,31.3 km2,"8,592/sq mi","3,317/km2",37°33′37″N 122°18′38″W﻿ / ﻿37.5603°N 122.3106°W
294,295,Wichita Falls,Texas,104747,104553,+0.19%,72.2 sq mi,187.0 km2,"1,450/sq mi",560/km2,33°54′24″N 98°31′33″W﻿ / ﻿33.9067°N 98.5259°W
295,296,El Cajon,California,103894,99478,+4.44%,14.5 sq mi,37.6 km2,"7,156/sq mi","2,763/km2",32°48′06″N 116°57′37″W﻿ / ﻿32.8017°N 116.9604°W
296,297,Rialto,California,103562,99171,+4.43%,22.3 sq mi,57.8 km2,"4,633/sq mi","1,789/km2",34°06′42″N 117°23′18″W﻿ / ﻿34.1118°N 117.3883°W
297,298,Lakewood,New Jersey,102682,92843,+10.60%,24.7 sq mi,64.0 km2,"4,079/sq mi","1,575/km2",40°04′38″N 74°12′01″W﻿ / ﻿40.0771°N 74.2004°W
298,299,Edison,New Jersey,102450,99967,+2.48%,30.1 sq mi,78.0 km2,"3,389/sq mi","1,309/km2",40°30′14″N 74°20′58″W﻿ / ﻿40.5040°N 74.3494°W
299,300,Davenport,Iowa,102320,99685,+2.64%,62.9 sq mi,162.9 km2,"1,631/sq mi",630/km2,41°33′15″N 90°36′14″W﻿ / ﻿41.5541°N 90.6040°W
300,301,South Bend,Indiana,102245,101168,+1.06%,41.4 sq mi,107.2 km2,"2,457/sq mi",949/km2,41°40′37″N 86°16′08″W﻿ / ﻿41.6769°N 86.2690°W
301,302,Woodbridge,New Jersey,101965,99585,+2.39%,23.3 sq mi,60.3 km2,"4,351/sq mi","1,680/km2",40°33′39″N 74°17′34″W﻿ / ﻿40.5607°N 74.2927°W
302,303,Las Cruces,New Mexico,101712,97618,+4.19%,76.9 sq mi,199.2 km2,"1,323/sq mi",511/km2,32°19′35″N 106°47′23″W﻿ / ﻿32.3264°N 106.7897°W
303,304,Vista,California,101568,93834,+8.24%,18.7 sq mi,48.4 km2,"5,436/sq mi","2,099/km2",33°11′22″N 117°14′19″W﻿ / ﻿33.1895°N 117.2386°W
304,305,Renton,Washington,101379,90927,+11.49%,23.4 sq mi,60.6 km2,"4,314/sq mi","1,666/km2",47°28′34″N 122°11′31″W﻿ / ﻿47.4761°N 122.1920°W
305,306,Sparks,Nevada,100888,90264,+11.77%,35.9 sq mi,93.0 km2,"2,810/sq mi","1,080/km2",39°33′16″N 119°44′08″W﻿ / ﻿39.5544°N 119.7356°W
306,307,Clinton,Michigan,100712,96796,+4.05%,28.1 sq mi,72.8 km2,"3,573/sq mi","1,380/km2",42°35′25″N 82°55′01″W﻿ / ﻿42.5903°N 82.9170°W
307,308,Allen,Texas,100685,84246,+19.51%,27.1 sq mi,70.2 km2,"3,715/sq mi","1,434/km2",33°05′59″N 96°39′47″W﻿ / ﻿33.0997°N 96.6631°W
308,309,Tuscaloosa,Alabama,100287,90468,+10.85%,71.7 sq mi,185.7 km2,"1,399/sq mi",540/km2,33°12′23″N 87°32′05″W﻿ / ﻿33.2065°N 87.5346°W
309,310,San Angelo,Texas,100119,93200,+7.42%,59.9 sq mi,155.1 km2,"1,681/sq mi",649/km2,31°26′28″N 100°27′02″W﻿ / ﻿31.4411°N 100.4505°W
310,311,Vacaville,California,100032,92428,+8.23%,29.0 sq mi,75.1 km2,"3,449/sq mi","1,332/km2",38°21′14″N 121°58′22″W﻿ / ﻿38.3539°N 121.9728°W

#### Task: Make land area fields usable in calculations

#### Task: Calculate 2010 population density

#### Task: Calculate difference

Bonus: how do these cities' population densities compare to those of cities elsewhere in the world?
    
 https://en.wikipedia.org/wiki/List_of_cities_proper_by_population

# <center> 💖 Fin! 💖</center>
![fin](https://78.media.tumblr.com/7381533edc6941a7ec0d98c71303e3cd/tumblr_p2bac8rqVI1qhy6c9o1_500.gif)